@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

:root {
    --primary-color: #F50057;
    --font-color: white;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

header {
    font-size: x-large;
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    ;
}

.main-container {
    padding-top: 4rem;
    text-align: center;
}

input {
    margin: 1rem;
}

button {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    margin: 1rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: medium;
}

input, label {
    font-family: inherit;
    border-radius: 0vh;
    width: 20%;
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    position: fixed;
    margin: auto;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    color: var(--font-color);
}

li {
    color: white;
    text-decoration: none;
    list-style: none;
    display: inline;
}

ul {
    padding-inline-start: 0px;
}

a {
    color: white;
    text-decoration: none;
    padding-inline-start: 1rem;
}


.end-credits {
    margin: 1rem;
    font-size: small;
    font-weight: bold;
}


.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white ;
}

.footer ul {
    padding-inline-start: 0px;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}